body {
    color: #fff;
}

/* Contains the choices */
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #e90052;
    font-size: 3rem;
    min-width: 80rem;
}

/* Choice hover effect */
.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: #fff;
}

.choice-text {
    padding: 2rem;
    width: fit-content;
}

/* Change colour of choice: red = wrong, green = right */
.correct {
    background: green;
}

.incorrect {
    background: red;
}

/* Contains the progress bar, score, etc. at the top of page*/
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid green;
    margin-top: 1rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: green;
    width: 0%;
}

/* The div containing the images on the quiz page */
#image-div {
    background-color: #38003c;
    height: 400px;
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
}

/* For screens 768px and less (Mobile) */
@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 25rem;
        font-size: 2rem;
    }

    #image-div {
        min-width: 25rem;
    }
}